
public/client/node_modules/
server/node_modules/


client/.env
server/.env

public/client/build/
client/dist/
server/dist/
server/build/


public/client/logs/
server/logs/

.DS_Store
*.log
*.bak

config.json
